body{
    color: rgb(226, 43, 43);
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#cabecera{
    background-color: cadetblue;
    box-shadow: 0px 2px 20px 0px cyan;
    color: black;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    position: relative;
}
#cabecera tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.0em;
}
#post{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: solid 1px;
    margin: 9 auto;
}
#container h1{
    font-size: 20px;
}